 {{#section 'head'}}
<title>个人中心</title>
<link rel="stylesheet" type="text/css" href="css/home.css"> {{/section}}
<header class="user-infor">
    <img class="header-banner" src="images/home_header.png" alt="个人中心" />
    <section class="user-content">
        <img class="user-avatar" src="images/user_avatar.png" alt="头像" />
        <h1 class="user-name">你的女神</h1>
        <p class="user-sign">思念是一种很玄的东西</p>
        <p class="user-funs">
            <span class="user-hosts">关注</span><span class="user-vizits margin-bettow">135</span>
            <span class="user-hosts">粉丝</span><span class="user-vizits">120</span>
        </p>
        <a href="/usersettings" class="edite-user">编辑资料</a>
    </section>
</header>
<ul class="item-lists">
    <li class="item bottom-line">
        <a href="/usercenter">
            <img class="item-icon" src="images/publish.png" alt="已发布" />
            <p class="content">
                <span class="item-name">已发布</span>
                <span class="item-number">120</span>
                <img class="item-short" src="images/short.png" alt="箭头" />
            </p>
        </a>
    </li>
    <li class="item bottom-line">
        <a href="">
            <img class="item-icon" src="images/colection.png" alt="收藏夹" />
            <p class="content">
                <span class="item-name">收藏夹</span>
                <span class="item-number">120</span>
                <img class="item-short" src="images/short.png" alt="箭头" />
            </p>
        </a>
    </li>
    <li class="item">
        <a href="">
            <img class="item-icon" src="images/rubish.png" alt="草稿箱" />
            <p class="content">
                <span class="item-name">草稿箱</span>
                <span class="item-number">120</span>
                <img class="item-short" src="images/short.png" alt="箭头" />
            </p>
        </a>
    </li>
    <li class="item next-group bottom-line">
        <a href="">
            <img class="item-icon" src="images/share.png" alt="推存给朋友" />
            <p class="content">
                <span class="item-name">推存给朋友</span>
                <img class="item-short" src="images/short.png" alt="箭头" />
            </p>
        </a>
    </li>
    <li class="item">
        <a href="">
            <img class="item-icon" src="images/advice.png" alt="反馈" />
            <p class="content">
                <span class="item-name">反馈</span>
                <img class="item-short" src="images/short.png" alt="箭头" />
            </p>
        </a>
    </li>
    <li class="item next-group last-item">
        <a class="item-name" href="/settings">
            <img class="item-icon" src="images/settings.png" alt="设置" />
            <p class="content">
               设置
                <img class="item-short" src="images/short.png" alt="箭头" />
            </p>
        </a>
    </li>
</ul>
{{#section 'jscodelink'}}
<script type="text/javascript" src="js/home.js"></script>
{{/section}}