{{#section 'head'}}
<link rel="stylesheet" type="text/css" href="css/settings.css"> 
{{/section}}
<div class="wrapper">
    <header id="J_header" class="header">
        <a class="J_back go-back"></a> 设置
    </header>
    <ul class="item-lists">
        <li class="item">
            <a href="">
                <span class="item-name">通知</span>
                <span class="item-right">已开启</span>
            </a>
        </li>
        <li class="item next-group">
            <a href="/resetpass">
                <span class="item-name">修改密码</span>
                <img class="item-short" src="images/short.png" alt="箭头" />
            </a>
        </li>
        <li class="item next-group bottom-line">
            <a href="">
                <span class="item-name">隐私政策</span>
                <img class="item-short" src="images/short.png" alt="箭头" />
            </a>
        </li>
        <li class="item">
            <a href="">
                <span class="item-name">服务条款</span>
                <img class="item-short" src="images/short.png" alt="箭头" />
            </a>
        </li>
        <li class="item next-group">
            <a href="">
                <span class="item-name">版本号</span>
                <span class="item-right">1.0.0</span>
            </a>
        </li>
        <li class="item next-group last-item">
            <a id="J_goout" class="login-out" href=":;">退出登录</a>
        </li>
    </ul>
</div>
{{#section 'jscodelink'}}
<script type="text/javascript" src="js/settings.js"></script>
{{/section}}